<center>
  <% if @meet.isLocked? and !@meet.isRun?%>
  <br>
  <div class="alert alert-warning" role="alert">
    <strong>Warning</strong>
    This meet has been locked.
  </div>
  <% elsif @meet.isRun? %>
  <br>
  <div class="alert alert-success" role="alert">
    <strong>Notice</strong>
    This meet has been run already, and is in archive mode.
  </div>
  <%end%>
  <% if current_user.nil? %>
  <div class="alert alert-danger" role="alert">
    <strong>Notice</strong>
    You are not logged in. Please log in to make predictions
  </div>
  <% end %>
  <h2><%= @meet.name %></h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Prediction</th>
        <th>Real Time</th>
        <th>Points</th>
        <th>Submit</th>
      </tr>
    </thead>
    <tbody>
      <% @meet.runners.each do |r| %>
      <tr>
        <td><%= r.name %></td>

        <td>
          <div class="row">
            <div class="col-md-6"><% if @meet.isLocked? or current_user.nil?%>
              <select class="form-control" type="number" id="min" disabled>
              <% else %>
                <select class="form-control" type="number" id="<%= r.id %>-min">
                  <% end %>
                  <% for i in 0..59 %>
                  <% if !@prediction.nil? and !@prediction.where(:runner_id => r.id.to_str).first.nil? and @prediction.where(:runner_id => r.id.to_str).first.min == i %>
                  <option selected="selected"><%=i%></option>
                <% else %>
                  <option><%=i%></option>
                  <% end %>
                  <%end%>
                </select>
              </div>
              <div class="col-md-6"><% if @meet.isLocked? or current_user.nil?%>
                <select class="form-control" type="number" id="sec" disabled>
                <% else %>
                  <select class="form-control" type="number" id="<%= r.id %>-sec">
                    <% end %>
                    <% for i in 0..59 %>
                    <% if !@prediction.nil? and !@prediction.where(:runner_id => r.id.to_str).first.nil? and @prediction.where(:runner_id => r.id.to_str).first.sec == i %>
                    <option selected="selected"><%=i%></option>
                  <% else %>
                    <option><%=i%></option>
                    <% end %>
                    <%end%>
                  </select>
                </div>
              </div>

            </td>

            <% if @meet.isRun? %>
            <td><%= r.results.where(:runner => r, :meet => @meet).first.min %>:<%= r.results.where(:runner => r, :meet => @meet).first.sec %></td>
            <td><%= @prediction.where(:meet => @meet, :runner_id => r.id.to_str).first.points if !@prediction.where(:meet => @meet, :runner_id => r.id.to_str).first.nil?  %></td>
          <% else %>
            <td>--Not Run--</td>
            <td>--Not Run--</td>
            <% end %>
            <% if !@meet.isLocked? and !current_user.nil? %>
            <td>
              <a id="submit-button" data-value="<%= r.id %>" class="btn btn-success submit" href="#" role="button">Submit</a>
            </td>
          <% else %>
            <td>
              <button disabled id="submit-button" data-value="<%= r.id %>" class="btn btn-success " href="#" role="button">Submit</button>
            </td>
            <% end%>
          </tr>
          <% end %>
        </tbody>
      </table>
    </center>
    <script>
      $(document).ready(function () {
        $(".submit").click(function () {
          $.ajax({
            url: "<%= @meet.id %>/update",
            type: "POST",
            data: {
              "min": $("#" + $(this).attr("data-value") + "-min").val(),
              "sec": $("#" + $(this).attr("data-value") + "-sec").val(),
              "r_id": $(this).attr("data-value")
            },
            dataType: "json",
            success: function (data) {
              alert("Success!")
            }
          });
        });
      });
    </script>
