<br>
<h2><%= @user.name%>'s prediction list for <%= @meet.name %> <h4><em><%= '(Not Run Yet)' if !@meet.isRun?%></em></h4></h2>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>Runner</th>
      <th>Prediction</th>
      <th>Real</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <% @user.predictions.order_by(:points => 'desc').each do |p| %>
    <tr>
      <td><%= Runner.find(p.runner_id).name %></td>
      <td><%= p.min %>:<%= p.sec %></td>
      <td><%= Result.where(:meet => p.meet, :runner => Runner.find(p.runner_id)).first.min if p.meet.isRun? and Result.where(:meet => p.meet, :runner => Runner.find(p.runner_id)).first != nil %>:<%= Result.where(:meet => p.meet, :runner => Runner.find(p.runner_id)).first.sec if p.meet.isRun? and Result.where(:meet => p.meet, :runner => Runner.find(p.runner_id)).first != nil%></td>
      <td><%= p.points %></td>
      </tr>
    <% end %>
</table>
